# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Database Files
# =========================
*.db
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editor Files
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db